@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  font-family: "Fira Code", serif;
  background-color: #191724;
  color: #e0def4;
}

.button {
  width: 88px;
  height: 31px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.box {
  max-width: 800px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}